<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Carga de archivos css-->


    <title>Badianus</title>
</head>
<body>
    

<!--Google map-->
<div class="container pt-4">
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.533042787456!2d-103.43739278532033!3d20.6071187074148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ad1633a36769%3A0x7e97cb0552e88272!2sLaboratorio%20Badianus!5e0!3m2!1ses-419!2smx!4v1580235805408!5m2!1ses-419!2smx" width="300px" height="250px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    
</div>

<div class="row pt-4" style="display: flex; justify-content: space-between;">
  <div class="col-lg-4">
<p>Calle Miguel Alemán 123A, Miguel de la Madrid, 45239 Zapopan, Jal.</p>
<p>(33)-11-33-44-55</p>
<p>badianus@gmail.com</p>
</div>s
<div class="col-lg-5 col-12">
   <h3>Envíanos un mensaje</h3>
   <hr>
  <div class="row" style="margin: 0.5rem;">
    <a href=" https://wa.me/5213311334455" class="mr-4"><fa-icon style="font-size: 4rem; color: #3f6e81;"[icon]="faWhats"></fa-icon></a>
    <a href="https://badianus.com/contacto/" class="mr-4"><fa-icon style="font-size: 4rem; color: #3f6e81;"[icon]="faMail"></fa-icon></a>
    <a href="https://www.facebook.com/BADIANUSLABS" class="mr-4"><fa-icon style="font-size: 4rem; color: #3f6e81;"[icon]="faFb"></fa-icon></a>
    <a href="https://www.instagram.com/badianuslabs"class="mr-4"><fa-icon style="font-size: 4rem;color: #3f6e81;" [icon]="faIg"></fa-icon></a>
    <a href="#"><fa-icon style="font-size: 4rem;color: #3f6e81;" [icon]="faYt"></fa-icon></a>
  </div>
</div>
</div>
</div>
<!--Google Maps-->


      
  <!--Carga de archivos JS-->
  