<footer class="footer p-y-1" role="container">
    <div class="container">
    <p>2020 Laboratorios Badianus</p>
    <ul class="social-media">
      <li><a href="https://www.facebook.com/BADIANUSLABS"><fa-icon style="font-size: 2rem;" [icon]="faFb"></fa-icon></a></li>
      <li><a href="https://www.instagram.com/badianuslabs"><fa-icon style="font-size: 2rem;" [icon]="faIg"></fa-icon></a></li>
      <li><a href="#"><fa-icon style="font-size: 2rem;" [icon]="faYt"></fa-icon></a></li>
    </ul>
    </div>
  
  </footer>