<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Carga de archivos css-->
   


    <title>Badianus</title>
</head>
<body>
    
<section class="welcome">
    
    <div class="container pt-4">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalScrollable">Añadir Usuario</button>
    </div>
  
      
      <!-- Modal -->
      <div class="modal" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenteredLabel">Añadir Usuario</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form #userForm="ngForm" (ngSubmit)="onRegisterSubmit(userForm)">
                    <div class="container">
                    <input type="text" class="form-control" #name="ngModel" [(ngModel)]="user.name" placeholder="Nombre" name = "name" required>
                    <p>
                    <span class="text-danger" *ngIf="name.touched && !name.valid">El nombre es obligatorio</span>
                    <p>
                    <input type="text" class="form-control" #lastname="ngModel" [(ngModel)]="user.lastname" placeholder="Apellido" name = "lastname" required>
                    <p>
                    <span class="text-danger" *ngIf="lastname.touched && !lastname.valid">El apellido es obligatorio</span>
                    <p>
                        <input type="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" placeholder="Correo Electrónico" name = "email" required>
                        <p>
                        <span class="text-danger" *ngIf="email.touched && !email.valid">El correo es obligatorio</span>
                        <p>
                            <input type="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" placeholder="Contraseña" name = "password" required>
                            <p>
                                <span class="text-danger" *ngIf="password.touched && !password.valid">La contraseña es obligatoria</span>
                           
                            <p>
                                
                                <label>Rango </label>
                                <select class="custom-select" #role='ngModel' [(ngModel)]="user.role" name="role" required placeholder ="Rango">
                                    
                                    
                                    <option value="Usuario">Usuario</option>
                                    <option value="Administrador">Administrador</option>
                                  </select>
                                  <span class="text-danger" *ngIf="role.touched && !role.valid">El rango es obligatorio</span>
                    <p>
                    <input class ="btn btn-primary" type="submit" value="Añadir" [disabled]="!userForm.form.valid">
 
                </div>
            </form>
            <div id="alert" class="alert alert-success" role="alert" *ngIf="status == 'success'">
                <strong>Listo!</strong> El Usuario se añadio con éxito.
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="status == 'failed'">
                <strong>Oh no!</strong> El usuario no se pudo añadir.
            </div>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
              
              </div>
          </div>
        </div>
      </div>
      <div class="container">
    <table class="table table-responsive pt-4"><!-- ... -->
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Rango</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of users" [attr.id]="user._id">
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>

            <td><button (click)="setConfirm(true)"><fa-icon [icon]="faTrash"></fa-icon></button>
                <p *ngIf= "confirm==true">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="setConfirm(false)"> Cancelar</button>
                
                <button type="button" class="btn btn-outline-danger btn-sm" (click)=deleteUser(user._id)>Eliminar </button>
              </p>
  
                
              </td>          
        </tr>
    </table>
  </div>

